<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A la mesa</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="../assets/css/styles.css">

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Sulphur+Point:700&display=swap" rel="stylesheet">

  <title>A la mesa</title>

  <link rel="shortcut icon" href="../assets/images/mini.png">

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand text-dark font-weight-bold" href="/"><img class="logo" src="../assets/images/logo.PNG"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../assets/images/menu.png" class="img-fluid" style="height: 30px;">
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-4">
            <a class="nav-link text-dark" href="/">Inicio</a>
          </li>
          <li class="nav-item ml-4">
            <div class="dropdown show">
              <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Restaurantes
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/restaurantes">Restaurantes</a>
                <a class="dropdown-item" href="/restaurantes/reservar">Rerervar</a>
                <a class="dropdown-item" href="/misreservas">Mis reservas</a>
              </div>
            </div>
          </li>
          <li class="nav-item ml-4">
            <a class="nav-link text-dark" href="/mapa">Mapa interactivo</a>
          </li>
          <li class="nav-item ml-4">
            <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acesso
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/users/signin">Iniciar sesión</a>
                <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </nav>


  {{{ body }}}
  <footer class="bg-primary py-6">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4 class="text-dark mb-3">Colaboraciones</h4>
          <ul class="list-unstyled text-dark">
            <li class="mb-2"><a
                href="https://www.microsoft.com/es-es/p/paint-3d/9nblggh5fv99?activetab=pivot:overviewtab">Paint</a>
            </li>
            <li class="mb-2"><a href="https://www.w3schools.com/">W3School</a></li>
            <li><a href="https://www.ecija.es/">Ayuntamiento de Écija</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="text-dark mb-3">Compañía</h4>
          <ul class="list-unstyled text-dark">
            <li class="mb-2"><a href="">DAW 2</a></li>
            <li class="mb-2"><a href="">Soporte</a></li>
            <li class="mb-2"><a href="">Eventos</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="text-dark mb-3">Explora</h4>
          <ul class="list-unstyled text-dark">
            <li class="mb-2"><a href="mapa.html">Mapa de Écija</a></li>
            <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="text-dark mb-3">Redes Sociales</h4>
          <ul class="list-inline">
            <li class="list-inline-item mr-4"><a href="https://www.facebook.com/"><img
                  src="../assets/images/facebook.svg" class="img-fluid" alt="Logo Facebook"></a></li>
            <li class="list-inline-item mr-4"><a href="https://www.instagram.com/"><img
                  src="../assets/images/instagram.svg" class="img-fluid" alt="Logo Instagram"></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/"><img src="../assets/images/youtube.svg"
                  class="img-fluid" alt="Logo Youtube"></a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <small class="text-dark">A la mesa 2021. Todos los derechos reservados</small>
        </div>
        <div class="col-md-6 text-right">
          <small class="text-dark">Términos y condiciones</small>
        </div>
      </div>
    </div>
  </footer>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>

</body>

</html>