
     <section class="bg-dark py-6">
        <div class="container">
            <div class="card-group">
                <div class="card">
                    <div id="carousel1" class="carousel slide container" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel1" data-slide-to="1"></li>
                            <li data-target="#carousel1" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" alt="..." src="assets/images/agora.jpg" style="height: 42%;">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/agoradentro.png" class="w-100" alt="..." style="height: 42%;">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/agoraplato.jpg" class="w-100" alt="..." style="height: 42%;">
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">AGORA TAPAS</h5>
                        <p class="card-text">Tu espacio diferente en Écija</p>
                        <p class="card-text">Calle Barquete, 38A - Tlf.: 955317077</p>
                        <a href="/restaurantes/reservar" class="btn btn-primary btn-lg animate-up mb-xs-4">Reservar</a>
                    </div>
                </div>
                <div class="card">
                    <div id="carousel2" class="carousel slide container" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel2" data-slide-to="1"></li>
                            <li data-target="#carousel2" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" alt="..." src="assets/images/machinlogo.png"
                                    style="height: 42%;">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/machin.jpg" class="w-100" alt="..." style="height: 42%;">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/machinplato.jpg" class="w-100" alt="..." style="height: 42%;">
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">CASA MACHÍN</h5>
                        <p class="card-text">Restaurante en el centro de Écija</p>
                        <p class="card-text">Calle Galindo, 4 - Tlf.: 955901295</p>
                        <a href="/restaurantes/reservar" class="btn btn-primary btn-lg animate-up mb-xs-4">Reservar</a>
                    </div>
                </div>
                <div class="card">
                    <div id="carousel3" class="carousel slide container" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel3s" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel3" data-slide-to="1"></li>
                            <li data-target="#carousel3" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" alt="..." src="assets/images/canarias.jpg"
                                    style="height: 42%;">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/canariasdentro.png" class="w-100" alt="..."
                                    style="height: 42%;">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/canariasplato.jpg" class="w-100" alt="..." style="height: 42%;">
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title">CANARIAS</h5>
                        <p class="card-text">Elaboración de tapas caseras</p>
                        <p class="card-text">Avda. de Andalucía, 16A - Tlf.: 954830044</p>
                        <a href="/restaurantes/reservar"
                            class="btn btn-primary btn-lg animate-up mb-xs-4">Reservar</a>
                    </div>
                </div>
            </div>
            